---
import { getLangFromUrl, useTranslations } from '../../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<div class="px-8">
  <div class="flex flex-col w-full h-full">
    <div
      class="w-full font-helvetica self-center font-bold text-secondary
      leading-none text-[2.5rem] text-nowrap text-center
      sm:text-[3rem]
      md:text-[4rem]
      lg:text-[6rem]
      xl:text-[7rem]
      2xl:text-[9rem]"
    >
      FABER GRAJALES
    </div>
    <div
      class="h-[content] relative self-center select-none
      top-[-1.5rem]
      sm:top-[-2rem]
      md:top-[-2.5rem]
      lg:top-[-3rem]
      xl:top-[-3.5rem]
      2xl:top-[-4rem]"
    >
      <img
        width="100%"
        height="100%"
        draggable="false"
        src="/photos/profile.webp"
        alt="Profile Picture"
        class="grayscale"
        style="mask-image: linear-gradient(to bottom, black 80%, transparent 100%);"
      />
    </div>
    <div class="text-secondary text-lg text-justify
      2xl:text-xl">
      {t('copy.presentation')}
    </div>
  </div>
</div>
