---
import Navbar from '../navbar/Navbar.astro'
import Presentation from '../presentation/Presentation.astro'
import UnderConstruction from '../under-construction/UnderConstruction.astro'
---

<div class="flex w-full h-full justify-center">
  <div
    class="flex flex-col container bg-gradient-to-r from-primary via-sub-primary to-post-primary relative shadow-inner-2xl gap-4"
  >
    <!-- <Bubbles /> -->

    <Navbar />

    <Presentation />

    <UnderConstruction />
  </div>
</div>
