---
import { languages } from '../../i18n/ui'
import { getLangFromUrl, useTranslatedPath } from '../../i18n/utils'

const currentLang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(currentLang)
---

<div
  class="flex flex-col absolute right-4 gap-6 max-h-6 overflow-hidden transition-all duration-500
  hover:max-h-[8rem]"
>
  <img width="24" height="24" src="/translate.svg" alt="translate" />
  {
    Object.entries(languages).map(([lang, label]) => (
      <a href={translatePath('/', lang)}>
        <img width="24" height="24" src={`/${lang}.svg`} alt={label} />
      </a>
    ))
  }
</div>
