---
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
import LanguagePicker from '../lang-picker/LangPicker.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<div class="px-8 pt-8 mb-4">
  <nav
    class="flex rounded-md bg-purple-100 bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-40 border border-gray-100 relative z-30 p-4"
  >
    <h1>{t('nav.home')}</h1>

    <LanguagePicker />
  </nav>
</div>
