---
import Navbar from './Navbar.astro'
---

<style>
  @keyframes move-1 {
    50% {
      transform: translate(calc(-50vw), calc(-50vh)) scale(0.7);
    }
  }
  @keyframes move-2 {
    70% {
      transform: translate(calc(50vw), calc(50vh)) scale(1.2);
    }
  }
</style>

<div class="flex w-full h-full justify-center">
  <div
    class="container p-8 overflow-hidden bg-gradient-to-r from-primary via-sub-primary to-post-primary relative"
  >
    <div class="absolute inset-0 z-10 main">
      <!-- This div is used to append the bubbles -->
    </div>

    <Navbar />

    <div class="flex h-full justify-center items-center relative z-20">
      <span class="text-6xl text-secondary font-bold"> Web Site Under Construction</span>
    </div>
  </div>
</div>

<script>
  const bubbleCount = 30
  const main = document.querySelector('.main')

  for (let i = 1; i <= bubbleCount; i++) {
    const iMod = i % 2 === 0 ? 2 : 1

    const bubble = document.createElement('div')
    bubble.classList.add('bubble', 'absolute', 'rounded-full', 'bg-white/40')
    bubble.style.width = '40px'
    bubble.style.height = '40px'
    bubble.style.left = `${Math.random() * 100}vw`
    bubble.style.top = `${Math.random() * 100}vh`
    bubble.style.animation = `move-${iMod} ${30 + iMod * 0.02}s infinite`
    if (main) {
      main.appendChild(bubble)
    }
  }
</script>
