---
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<html lang={lang} class="w-full h-full m-0 p-0">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{t('page.title')}</title>
  </head>
  <body class="w-full h-full m-0 p-0">
    <main class="w-full h-full">
      <slot />
    </main>
  </body>
</html>
